<style>
  .exercise {
    height: 100vh;
    width: 100vw;
  }
  .exercise.dark-mode {
    color: #f1f1f1;
    background-color: #333;
  }
</style>

<div class="exercise">
  <h1>Hello!</h1>
  <p>Here's some text</p>
  <button>Toggle Dark Mode</button>
</div>

<script>
  const { expect } = chai

  describe('button', function () {
    const exercise = document.querySelector(".exercise")
    let button;

    before(function() {
      button = document.querySelector('.exercise button')
    })

    beforeEach(function() {
      exercise.className = "exercise"
    })

    it('should toggle the dark-mode class on when clicked', function () {
      button.click()

      expect(exercise.matches(".dark-mode")).to.equal(true)
    })

    it('should toggle the dark-mode class off when clicked twice', function () {
      button.click()
      button.click()

      expect(exercise.matches(".dark-mode")).to.equal(false)
    })
  })
</script>
