<div class="exercise">
  <div class="image-holder">
    <h3>Look at this cute fox</h3>
    <img src="https://via.placeholder.com/300" alt="A random fox" />
  </div>
</div>

<script>
  const { expect, spy } = chai

  describe("getFox()", function() {

    it("sends a fetch request to 'https://randomfox.ca/floof/'", async function() {
      const fetchSpy = chai.spy.on(window, 'fetch')
      await getFox()
      expect(fetchSpy, "A fetch to the API was not found")
        .to.have.been.called.with("https://randomfox.ca/floof/")
    })

    it("displays a random fox image", async function() {
      const img = document.querySelector("img")
      await getFox()
      expect(img.src).to.include("https://randomfox.ca/images")
    })
  })
</script>
